
*{
	padding: 0px;
	margin: 0px;
}
h1{
/* esto es un comentario*/
color:rgb(255,0,0);
list-style-image:initial;
font-size: 100px;
text-align: center;
font-family: sans-serif;
text-shadow: -5px -5px  15px #000;
}

img{
	height: 300px;
	width: 300px;
	border: solid 1px #000;
	border-radius: 50%;
	box-shadow: 20px 20px #ccc;
}

.centrado{
	width: 300px;
	margin: 0px auto;
}
